element.style {
    margin-left: 0px !important; 
    margin-right: 0px !important;
    row-gap: 0px !important;
}

/* .video-bookmark-container {
    overflow: auto;
    height: 320px;
    width: auto;
    overflow-x: hidden;
    padding-left: 4px;
    padding-right: 4px;
} */

.ant-collapse-arrow svg {
    margin-top: -5px;
    color: white;
}

.bookmark-collapse .ant-collapse-content-box {
    padding: 0px;
}

.bookmark-video-course-delete {
    width: 20px;
    height: 20px;
    right: 0%;
    color: white; /* D50000 */
    position: absolute;
}

.bookmark-video-course-delete:hover {
    color: #9c9c9c; /* 9D0000 */
}

.css-1idn90j-MuiGrid-root {
    height: 30px;
}